/* Global styles */



/* Header */

header {
  background-color: white;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 64px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 24px;
}

.logo img {
  height: 32px;
  width: auto;

}

#colmar {
  color: #4A4A4A;
}

#academy {
  color: #9B9B9B;
}

header nav {
  padding-right: 24px;

}

header nav li {
  display: inline-block;
  padding-left: 16px;
}

/* Hero section */

.hero-container {
  background-color: #D8D8D8;
}

.hero-image img {
  width: 60%
  height: auto;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
}

.hero-content {

}

.hero-title {

}

.hero-content {

}

.button {

}

/* Information section */
