/* Global styles */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: Roboto, sans-serif;
}

/* Header */

header {
  background-color: white;
  align-items: center;
  display: flex;
  position: fixed;
  width: 100%;
  height: 64px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 24px;
}

.logo img {
  height: 32px;
  width: auto;
}

#colmar {
  color: #4A4A4A;
  font-size: 16px;
}

#academy {
  color: #9B9B9B;
  font-size: 16px;
}

header nav {
  padding-right: 24px;

}

header nav li {
  display: inline-block;
  padding-left: 16px;
}

/* Content container */

.content {
  background-color: #D8D8D8;
  display: flex;
  width: 100%;
  height: 500px;
}

.content .hero-image {
  padding-left: 24px;
  padding-right: 32px;
  padding-top: 32px;
  padding-bottom: 24px;
}

.content .hero-image img {
  width: 600px;
}

.hero-content {
  display: inline-block;
  flex-direction: row;
  padding-left: 24px;
}

.hero-content span {
  font-size: 30px;
}

.hero-content p {
  padding-top: 25px;
}

/* Information section */
